/*----------------------------------------------djh Oct 30, 2018
  Replace these vars with client color palette (hex or rgb)
----------------------------------------------*/
$red    : red;
$orange : orange;
$yellow : yellow;
$green  : green;
$blue   : blue;

$gray   : gray;
$silver : silver;